@model Product

<div class="card shadow mt-4 border-0">
    <div class="card-header bg-secondary bg-gradient py-3 ml-0">
        <div class="row">
            <h2 class="text-center text-white">Update Products</h2>
        </div>
    </div>
    <div class="card-body p-4">
        <form class="row" asp-action="Delete" asp-controller="Product">
            <input asp-for="Id" type="hidden" />
            <div class="border p-4">
                <div class="row mb-3">
                    <label asp-for="Title"></label>
                    <input type="text" asp-for="Title" class="form-control" disabled/>
                </div>
                <div class="row mb-3">
                    <label asp-for="Description"></label>
                    <input type="text" asp-for="Description" class="form-control" disabled />
                </div>
                <div class="row mb-3">
                    <label asp-for="ISBN"></label>
                    <input type="text" asp-for="ISBN" class="form-control" disabled />
                </div>
                <div class="row mb-3">
                    <label asp-for="Author"></label>
                    <input type="text" asp-for="Author" class="form-control" disabled />
                </div>
                <div class="row mb-3">
                    <label asp-for="ListPrice"></label>
                    <input type="text" asp-for="ListPrice" class="form-control" disabled />
                </div>
                <div class="row mb-3">
                    <label asp-for="Price"></label>
                    <input type="text" asp-for="Price" class="form-control" disabled />
                </div>
                <div class="row mb-3">
                    <label asp-for="Price50"></label>
                    <input type="text" asp-for="Price50" class="form-control" disabled />
                </div>
                <div class="row mb-3">
                    <label asp-for="Price100"></label>
                    <input type="text" asp-for="Price100" class="form-control" disabled />
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <input type="submit" class="btn btn-primary form-control" value="Delete" />
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="btn btn-outline-secondary form-control" asp-action="Index" asp-controller="Product">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>